* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

span{
    text-decoration-line: underline;
    font-weight: bold;
}

p:not(.infoUsers p){
    width:auto;
    text-decoration: underline dotted red;
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.infoUsers{
    display: inline-block;
    border: 2px solid black;
    border-radius: 2rem;
    margin-left: 12rem;
    padding: 2rem;
}